{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>FEDVOSA | Home </title>

    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    

</head>
<body class="bg-light">
    <!---Navbar-->
    <input type="checkbox" id="check">
    <nav class="nav_i">
        <div class="icon" style="width: 40px; height: 40px"><img src="{% static 'images/logo-2.png' %}" alt=""></div>
        <form action="">
        <div class="search_box">
            <input type="search" placeholder="">
            <span class="fa fa-search"></span>
        </div>
    </form>
        <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>            
            <li><a href="/faq">FAQs</a></li>
            <li><a href="/contact">Contact</a></li>
            <div class="btn_2 li_main"><img src="{{user_profile.profileimg.url}}">
                <div class="menu">
                    <ul>
                        <li><a href="/settings">Settings</a></li>
                        <li><a href="logout"> Logout</a></li>
                    </ul>
                </div>
            
            
            </div>
        </ol>
        <label for="check" class="bar">
            <span class="fa fa-bars" id="bars"></span>
            <span class="fa fa-times" id="times"></span>
        </label>
    </nav>

   

    <!--Head-->
    <section class="events-head bg-image py-3">
        <div class="container">
            <h1 class="lg" style="font-weight: 800;">Federal Government College Vandeikya </h1>
            <h1 class="lg">Old Students Association </h1>
        </div>      
            
    </section>
    <!--Sub Head -->
    

    

<!--Three Columns Home Page-->
    <section class="prog-content">        
           <div class="row">
               <div class="prog-left">
                <h2>Upcoming events</h2>
                <img src="{% static 'images/jubilee.jfif' %}">
                
               </div>
               <div class="prog-center bg-light">
                <h2 >Mr President Visits FGC Vandeikya to Assess the Level of Damages Caused by the Inferno</h2>
                   <div class="fig">
                    <img src="{% static 'images/visit.jpeg' %}">
                    <!--to add overlay: text that displays on the image, create div immidately after the img-->
                    <div class="overlay"></div>
                    <div class="act-desc">
                    <p> Mr President also acknowledged the efforts of the Principal, St Peters Secondary School Vandeikya. Rev. Fr. Linus Huabo, who stood by FGC Vandeikya during the time of this ugly incidence.</p>
                    </div>
                   </div>
                <p class="lead">The National President, FGC Vandeikya Old Students Association (FEDVOSA) Mr Agor Sesugh earlier today, was at FGC Vandeikya for an eye seeing and evaluation of the level of damages caused by fire yesterday. On Mr President's visit, were some members of his EXCOs. The national president was received by the Vice Principal, at FGC Vandeikya.

                    The school management will be  making an official statement about the fire outback soon. Until then, we can confirm that no life was lost. The JSS3 block (former Junior Dom) male hostel is the only block affected. The affected students have been redistributed to other hostels.
                    The hostel block was completely raised down by fire. Although, normal academic activities in the college are going on, except to the fact that the affected students are just left with the uniforms they had on as at the time of the incidence.
                    Mr President described the fire outbreak that gutted the students hostel as an unfortunate incidence.  He commended the bravery of the college community for preventing the fire from wrecking more havoc. 
                    Mr President also acknowledged the efforts of the Principal, St Peters Secondary School Vandeikya. Rev. Fr. Linus Huabo, who stood by FGC Vandeikya during the time of this ugly incidence.
                                    While we await the outcome of the investigation into the cause of the fire outbreak which is ongoing, our prayers and thoughts are with particularly the affected students and the entire college community.</p>

                 <h2>Proposed Students Center at FGC Vandeikya</h2>
                 <div class="fig">
                    <img src="{% static 'images/propose.jfif' %}">
                    <!--to add overlay: text that displays on the image, create div immidately after the img-->
                    <div class="overlay"></div>
                    <div class="act-desc">
                    <p> The proposed students center is to house a tuck shop and sitting area, where students can buy and comfortably take their light refreshment The estimated cost of the project is Six million Naira (N6,000,000) only.</p>
                    </div>
                   </div>
                <p>Greatest FEDVOSITES
                    Greetings to you all
                    Let me first of all appreciate this mandate bestowed upon me as the National president of our esteemed association. I am deeply honored to be found worthy to lead FEDVOSA at this point in time.
                    
                    This position I understand requires mending fences and outreach to one and all bringing us together for the primary purpose of strengthening forces for both individual and collective growth. It also involves effective collaboration with our Alma mata  to stimulate infrastructural renewal, establishment of development projects and internalization of noble ideals in current students such that later in life they would become agents of positive change. All these I’m excited we have kick started and I assure you that we will be moving quickly in achieving our immediate and long term goals. Our desire is to make FGC Vandeikya a cynosure of all eyes in the academic world while also supporting the network of old students who will in turn raise the profile of the school.
                    
                    In response to our key role in the sustenance of our alma mata especially giving back to the school in very may ways we deem fit based on the pressing needs of the school, the current Exco is proposing the construction of a students center at FGC Vandeikya. (The Architectural model attached). 
                    
                    The student center is leisure spot that has a tuck shop and sit out for students at FGC Vandeikya to relax and unwind. You may recall that this was deliberated upon by during the last congress meeting and exhaustively at the expanded EXCO level. The proposed students center was a request put forward by the Principal to the old students. The school doesn't have a befitting tuck shop. What serves this purpose is the one we all used to know right from the early days of FGC Vandeikya. And considering the size, position and porous nature of the structure ( Students breaking in at times) and the fact that students have to stand while they take their light refreshment, the idea of the students center was conceived.
                    
                    The proposed students center is to house a tuck shop and sitting area, where students can buy and comfortably take their light refreshment
                    
                    The estimated cost of the project is Six million Naira (N6,000,000) only. An amount which I believe we can collectively raise. We intend to source this money within ourselves and every FEDVOSITE is expected to make a donation of at least one thousand naira (N1000) towards this project. This is not a benchmark as we will gladly accept more in terms of finances, materials and professional assistance. The set presidents will help in collecting these funds. 
                    
                    The various sets presidents have been drafted to form the building committee and will be giving you updates from time to time.
                    The project is intended to commence by the first week of August this year.
                    We look forward to your positive response to this call and I sincerely appreciate you all for all you do and that which you intend to do for this association.
                    
                    Regards
                    
                    Agor Sesugh
                    FEDVOSA National President</p>

                 <div class="fig">
                    <img src="{% static 'images/build.jfif' %}">
                    <!--to add overlay: text that displays on the image, create div immidately after the img-->
                    <div class="overlay"></div>
                    <div class="act-desc">
                    <p></p>
                    </div>
                   </div>
                <!-- <p>Although they are enrolled in school, vulnearable children often do not attend regularly, and often drop out an early
                    age due to difficulties fulfilling basic needs (food, shelter). the Learn&Play project will help these children, through 
                    sport and education to socialise ad become involved in peer activities to improve their social skills, which are neglected 
                    because of extreme poverty.  the program will provide free literacy lessons or over 500 children and , increase equal opportunities for 
                all children.  this actvity will consist of two teams of 30 chldren, both boys and girls, with a minimum of 30% of girls and 5% of children
                 with disabilities.</p> -->

                 <div class="fig">
                    <img src="{% static 'images/construct.jfif' %}">
                    <!--to add overlay: text that displays on the image, create div immidately after the img-->
                    <div class="overlay"></div>
                    <div class="act-desc">
                    <p></p>
                    </div>
                   </div>
                <!-- <p>we aim to use football as a tool to raise awareness of the importancce of life projects for children and teenagers to counteract the 
                    risks they face.  to achive this, we will create footaball schools for 20 children and use a mulitple psychosocial approach to enhance
                     their decision-making processes.  in addition we will hold footabla festivals, to celebrate the community's capacities adn talents,
                      involve relevant stakeholders and sports personalities and iinspire childen ad teenagers to pursue positive life projectspromote the youngsters sense of belonging to their region, to couteract the negative alternatives and the risks they are constantly
                      exposed to, foster life projects that benefit their region, and keep them safe from illegal activites and gang recruitment.</p> -->
               </div>
               
                <div class="prog-right">
                    <!-- <h3>Alumni Members</h3> -->
                            <!-- <div class="members">
                                <a href=""><img src="images/assec.png" alt=""> </a>
                                <span>Gabriel</span>                         
                                <a href="#" class="btn_v">View</a>
                            </div> -->

                    <div class="find-members-container">
                        <div class="find-members-header">
                            <div class="heading">FEDVOSA Members</div>
                            <form action="/search" method="POST">
                                {% csrf_token %}
                                
                            <div class="search">
                                <button type="submit" style="margin: 0; padding: 0;"><i class="fa fa-search"></i></button>
                                <input type="text" name="username" placeholder="Search for Member">
                            </div>
                        </form>
                        </div>
                        <div class="find-members-body">
                            <div class="member-row">
                                <div class="member-info">
                                    <img src="{% static 'images/secgen.png' %}" alt="">
                                    <span>Kelvin Akor</span>
                                </div>
                                <button class="action_view">View</button>
                            </div>
                            
                            {% for suggestion in suggestions_username_profile_list %}
                            <div class="member-row">
                                <div class="member-info">
                                    <img src="{{suggestion.profileimg.url}}" alt="">
                                    <span>{{suggestion.user}}</span>
                                </div>
                                <button class="action_view"><a href="/profile/{{suggestion.user}}" >View</a></button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                                        
                </div> 
    
           </div>

</section>

    
    
    <!-- Footer  --->
    <footer class="footer bg-dark py-5">
        <div class="container grid grid-3">
            <div class="">
                <h1>FEDVOSA</h1>
                <p>&copy 2022 FEDVOSA</p>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="faq.html">FAQs</a></li>
                </ul>
            </div>
            <div class="socials">                
                <a href="https://facebook.com/groups/nationalfedvosa/"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://instagram.com/fedvosaonline?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://t.me/+m_tMFtJokItiYjQ0"><i class="fab fa-telegram fa-2x"></i></a>                
            </div>
        </div>
    </footer>

    <script>
        var li_main = document.querySelector(".li_main");

        li_main.addEventListener("click", function(){
            this.classList.toggle("active");
        })
    </script>
    
</body>
</html>