{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>FEDVOSA | Contact Us </title>

    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
        body{
            width: 100%;
            height: 100vh;
            background: #1f67dc;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        section {
            width: 60%;
            
        }

        @media screen and (max-width: 770px){
            section {
            width: 100%;
            
        }
}
    </style>

</head>
<body class="bg-secondary">
    <section class="bg-secondary">
        <div class="card" style="width: 50%; ">
            <h2>Membership Fee Payment</h2>
            <p><b>N1000</b></p>
            <p>Federal Government college Vandeikya Old Students Association</p>
            <p>3047952970</p>
            <p>First Bank</p>
            <button class="btn"><a href="/signup">Return</a> </button>
            </div>
    </section>
    
    
</body>
</html>