{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Signup - FEDVOSA </title>

    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    

</head>
<body>
    <!---Navbar-->
    <nav class="navbar">
        <div class="container flex">
            <div class="logo" style="width: 40px; height: 40px"><img src="{% static 'images/logo.png' %}" alt=""></div>
        <ul class="nav-itmes">
            <li><a href="/about">About</a></li>            
            <li><a href="/faq">FAQs</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        </div>        
    </nav>

    <!--Signforms-->
    <section class="sign up1">
        <div class="container grid up">
            <div class="sign-form card">
                <h2>Create an Account</h2>
                <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-control">
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-control">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-control">
                        <input type="password" name="password" placeholder="Enter Password" required>
                    </div>
                    <div class="form-control">
                        <input type="password" name="pin" placeholder="Enter PIN" required>
                    </div>
                    <button type="submit" value="Send" class="btn btn-primary">Sign Up</button>
                    <p class="text-base"> Do you have an account? <a href="/signin" style="color: #003347;"> Login </a></p>
                </form>
            </div>
            <div class="sign-text">
                <h1>FGC Vandeikya Old Students Associaton</h1>
                <p>Membership is one of the simplest, most meaningful and most affordable ways to give back to our School. Members are to pay a one-time fee and <a style="color: #85a2b2" href="/contact">submit</a> evidence before signup</p>
                <a href="/pay" class="btn btn-outline">Make Payment</a>
            </div>            
        </div>

    </section>    
        
    
</body>
</html>