{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{{user_profile.user.username}} - Profile  </title>

    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    

</head>
<body>
        <!---Navbar-->
        <input type="checkbox" id="check">
        <nav class="nav_i">
            <div class="icon" style="width: 40px; height: 40px"><img src="{% static 'images/logo-2.png' %}" alt=""></div>
            <!-- <div class="search_box">
                <input type="search" placeholder="search member">
                <span class="fa fa-search"></span>
            </div> -->
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>            
                <li><a href="/faq">FAQs</a></li>
                <li><a href="/contact">Contact</a></li>
                <div class="btn_2 li_main"><img src="{{user_profile.profileimg.url}}">
                    <div class="menu">
                        <ul>
                            <li><a href="/settings">Settings</a></li>
                            <li><a href="logout"> Logout</a></li>
                        </ul>
                    </div>
                
                
                </div>
            </ol>
            <label for="check" class="bar">
                <span class="fa fa-bars" id="bars"></span>
                <span class="fa fa-times" id="times"></span>
            </label>
        </nav>

    <!--Head-->
    
    
    <!--Profile Section-->
<section id="profile">
    
    <div class="profile-box">
        <div class="profiles-img">
            <img src="{{user_profile.profileimg.url}}">
            <h1>{{user_profile.firstname}} {{user_profile.lastname}}</h1>
        </div>
        <div class="profiles">            
            <div class="profiles-desc">
                <div class="profiles-icon"><i class="fas fa-user fa-1x"></i></div>
                <div class="profiles-text">
                    <p>{{user_profile.bio}}</p>
                </div>
            </div>

            <div class="profiles-desc">
                <div class="profiles-icon"><i class="fas fa-briefcase fa-1x"></i></div>
                <div class="profiles-text">
                    <p>{{user_profile.occupation}} </p>
                </div>
            </div>
            <div class="profiles-desc">
                <div class="profiles-icon"><i class="fas fa-map-marker fa-1x"></i></div>
                <div class="profiles-text">
                    <p>{{user_profile.location}}</p>
                </div>
            </div>
            <div class="profiles-desc">
                <div class="profiles-icon"><i class="fas fa-home fa-1x"></i></div>
                <div class="profiles-text">
                    <p>{{user_profile.house}}</p>
                </div>
            </div>
            <div class="profiles-desc">
                <div class="profiles-icon"><i class="fas fa-mortar-board fa-1x"></i></div>
                <div class="profiles-text">
                    <p>{{user_profile.gradset}}</p>
                </div>
            </div>            
            <div class="profiles-desc">
                <div class="profiles-icon"><i class="fas fa-phone fa-1x"></i></div>
                <div class="profiles-text">
                    <p>{{user_profile.phone}}</p>
                </div>
            </div>           
            <div class="profiles-desc">
                <div class="profiles-icon"><i class="fas fa-envelope-open fa-1x"></i></div>
                <div class="profiles-text">
                    <p>{{user_profile.user.email}} </p>
                </div>          
                
                
            </div>
        </div>

    </div>
</section>
    
    
    
    
</body>